html
  head
    title= tas.linea.getPrefixedTitle()
  body
    h3=tas.linea.getPrefixedTitle()
    h4=tas.linea.route_long_name
    div= (dir01===0 ? "Andata: " : "Ritorno: ") + "Destinazioni: " 
      b=tas.getEndStopNames(dir01).join(', ')
    br
    div
      table
        tr
          td
            - if (typeof(url) !== 'undefined'){
              img(src=url)
            -}
          td(valign="top")
            p= "L'immagine è una rappresentazione fissa della linea e non indica necessariamente tutti i percorsi in questa data"
            br
            br
            h4= descPercorsi
            each od in tas.getPercorsiOD(dir01)
              div= od
    h4= descOrari
    div
      table
        thead
          tr
            each trip in trips
              - var stStart = trip.stop_times[0]
              - var dtStart = stStart && stStart.departure_time.substring(0,5)
              - var stEnd = trip.stop_times[trip.stop_times.length-1]
              - var dtEnd = stEnd && stEnd.departure_time.substring(0,5)
              th(style='border-bottom:1pt solid black')
                if dtStart && isTimeOfDayFuture(dtStart, dayOffset)
                  span!= stStart && ('<span style="color:green"><strong>'+dtStart +'</strong></span> '+stStart.stop_name)
                else
                  span!= stStart && ('<span style="color:grey">'+dtStart +'</span> '+stStart.stop_name)
                br
                span= '------'
                br
                if stEnd && isTimeOfDayFuture(dtEnd, dayOffset)
                  span!= stEnd && ('<span style="color:green"><strong>'+dtEnd +'</strong></span> '+stEnd.stop_name)
                else
                  span!= stEnd && ('<span style="color:grey">'+dtEnd +'</span> '+stEnd.stop_name)
        tbody
          each irow in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40]
            tr
              each trip in trips
                - var st = trip.stop_times[irow]
                - var dt = st && st.departure_time.substring(0,5)
                if dt && isTimeOfDayFuture(dt, dayOffset)
                  td!= st && ('<span style="color:green"><strong>'+dt +'</strong></span> '+st.stop_name)
                else
                  td!= st && ('<span style="color:grey">'+dt +'</span> '+st.stop_name)
