html
  head
    title= tas.linea.getTitle()
  body
    h3=tas.linea.getTitle()
    div= (dir01===0 ? "Andata: " : "Ritorno: ") + "Destinazioni: " 
      b=tas.getEndStopNames(dir01).join(', ')
    br
    div
      table
        tr
          td
            - if (typeof(url) !== 'undefined'){
              img(src=url)
            -}
          td(valign="top")
            p= "L'immagine è una rappresentazione fissa della linea e non indica necessariamente tutti i percorsi in questa data"
            br
            br
            h4= descPercorsi
            each od in tas.getPercorsiOD(dir01)
              div= od

    h4= descOrari
    div
      table
        tbody
          each irow in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40]
            tr
              each trip in trips
                - var st = trip.stop_times[irow]
                - var dt = st && st.departure_time.substring(0,5)
                if dt && isTimeOfDayFuture(dt, dayOffset)
                  td!= st && ('<span style="color:green"><strong>'+dt +'</strong></span> '+st.stop_name)
                else
                  td!= st && ('<span style="color:grey">'+dt +'</span> '+st.stop_name)
